transformers
accelerate
langchain-community
chromadb
langchain-chroma
unstructured
unstructured-inference
unstructured.pytesseract
flask
pdfminer
datetime
python-dotenv
pdfminer.six
pillow
pillow_heif
matplotlib
langchain-community
langchain-core
langchain-text-splitters
torch==2.3.1
torchvision==0.18.1
jq